.about-container {
    display: flex;
    flex-direction: column;
    background-color: #000;
    width: 50%;
    justify-content: center;
    margin: 10px 0px;
}

.section-headline {
    color: #fff;
    font-size: x-large;
    font-weight: 800;
}

.section-description {
    color: #fff;
    text-align: justify;
}

@media only screen and (min-width : 320px) and (max-width : 768px) {
    .about-container {
        width: 100%;
        padding: 0px 20px;
    }
}