.home-container {
    display: flex;
    flex-direction: column;
    background-color: #000;
    align-items: center;
    height: 100%;
}

.image-text-container {
    color: white;
    padding: 25px 0px;
}

.image-container {
    position: absolute;
    border-radius: 5px;
    padding: 10px 10px;
    top: 430px;
    left: 325px;
}

.text-container {
    margin-left: 275px;
    text-align: left;
}

hr {
    color: #fff;
}

#cover-picture {
    width: 100%;
    height: 500px;
}

#profile-picture {
    height: 250px;
    width: 240px;
    border-radius: 5px;
    border: 3px solid cornsilk;
}

.sub-title {
    font-size: medium;
    font-weight: 400;
    margin-bottom: 0px;
}

#name {
    font-size: xx-large;
    font-weight: 700;
    margin-bottom: 2px;
}

#desc {
    font-size: small;
    font-weight: 400;
    margin-bottom: 10px;
}

@media only screen and (min-width : 320px) and (max-width : 768px) {

    hr {
        width: 128%;
        margin-left: -5px;
    }

    #cover-picture {
        height: 350px;
    }

    #profile-picture {
        height: 200px;
        width: 200px;
    }

    .sub-title {
        display: none;
    }

    .image-text-container {
        padding-top: 150px;
        padding-bottom: 50px;
    }

    .image-container {
        top: 270px;
        left: 90px;
    }

    .text-container {
        padding: 10px 0px;
        margin-left: 0px;
        text-align: center;
    }

    #name {
        font-size: x-large;
        margin-bottom: 8px;
    }

    #desc {
        font-size: x-small;
        margin-bottom: 20px;
    }
}