.reachme-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 10px -10px;
}

.reachme-section {
    display: flex;
    flex-direction: column;
    color: #fff;
}

.txt-muted {
    opacity: 0.75;
}

a {
    color: #fff;
    text-decoration: none;
}

input {
    height: 40px;
    border-style: none;
    margin: 5px;
    border-radius: 5px;
}

.social-container {
    display: flex;
    flex-direction: row;
    margin: 10px -10px;

    & > div {
        display: flex;
        margin: 10px -10px;
    }

    & > *:not(:first-child) {
        margin: 10px -2.5px;;
    }
}

@media only screen and (min-width : 320px) and (max-width : 768px) {
    .contact-container {
        flex-direction: column;
        background-position: right;
    }

    div.contact-container>div.card {
        height: 70%;
    }

    .social-container {
        flex-wrap: wrap;
        & > div {
            display: flex;
            margin: 10px 0px;
        }

        /* & > *:not(:first-child) {
            margin: 10px 0px;;
        } */
    }

    .reachme-container {
        width: 100%;
        padding: 0px 20px;
    }
}